##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
/Ejercicio12_condicionales/nbproject/private/
/Ejercicio12_condicionales/build/
/Ejercicio13_condicionales/nbproject/private/
/Ejercicio13_condicionales/build/
/Ejercicio14_condicionales/nbproject/private/
/Ejercicio14_condicionales/build/
/Ciclos/nbproject/private/
/Ciclos/build/
/Ejercicio1_ciclos/nbproject/private/
/Ejercicio1_ciclos/build/
/Ejercicio2_ciclos/nbproject/private/
/Ejercicio2_ciclos/build/
/Ejercicio3_ciclos/nbproject/private/
/Ejercicio3_ciclos/build/
/Ejercicio4_ciclos/nbproject/private/
/Ejercicio4_ciclos/build/
/Ejercicio5_ciclos/nbproject/private/
/Ejercicio5_ciclos/build/
/Ejercicio6_ciclos/nbproject/private/
/Ejercicio6_ciclos/build/
/Ejercicio7_ciclos/nbproject/private/
/Ejercicio7_ciclos/build/
/Ejercicio8_ciclos/nbproject/private/
/Ejercicio8_ciclos/build/
/Ejercicio9_ciclos/nbproject/private/
/Ejercicio9_ciclos/build/
/Ejercicio10_ciclos/nbproject/private/
/Ejercicio10_ciclos/build/
/Ejercicio11_ciclos/nbproject/private/
/Ejercicio11_ciclos/build/
/Ejercicio12_ciclos/nbproject/private/
/Ejercicio12_ciclos/build/
/Ejercicio13_ciclos/nbproject/private/
/Ejercicio13_ciclos/build/
/Ejercicio14_ciclos/nbproject/private/
/Ejercicio14_ciclos/build/
/Ejercicio15_ciclos/nbproject/private/
/Ejercicio15_ciclos/build/
/Ejercicio16_ciclos/nbproject/private/
/Ejercicio16_ciclos/build/
/Ejercicio17_ciclos/nbproject/private/
/Ejercicio17_ciclos/build/
/Ejercicio18_ciclos/nbproject/private/
/Ejercicio19_ciclos/nbproject/private/
/Ejercicio19_ciclos/build/
/Ejercicio20_ciclos/nbproject/private/
/Ejercicio20_ciclos/build/
/Ejercicio21_ciclos/nbproject/private/
/Ejercicio21_ciclos/build/
/Ejercicio22_ciclos/nbproject/private/
/Ejercicio22_ciclos/build/
/Arreglos/nbproject/private/
/Arreglos/build/
/Ejercicio3_arreglos/nbproject/private/
/Ejercicio3_arreglos/build/
/Ejercicio4_arreglos/nbproject/private/
/Ejercicio4_arreglos/build/
/Ejercicio5_arreglos/nbproject/private/
/Ejercicio5_arreglos/build/
/Ejercicio6_arreglos/nbproject/private/
/Ejercicio6_arreglos/build/
/Ejercicio7_arreglos/nbproject/private/
/Ejercicio7_arreglos/build/
/Ejercicio8_arreglos/nbproject/private/
/Ejercicio8_arreglos/build/
/Ejercicio9_arreglos/nbproject/private/
/Ejercicio9_arreglos/build/
/Ejercicio10_arreglos/nbproject/private/
/Ejercicio10_arreglos/build/
/Ejercicio11_arreglos/nbproject/private/
/Ejercicio11_arreglos/build/
/Ejercicio12_arreglos/nbproject/private/
/Ejercicio12_arreglos/build/
/Ejercicio13_arrreglos/nbproject/private/
/Ejercicio13_arrreglos/build/
/Ejercicio13_arreglos_solucion2/nbproject/private/
/Ejercicio13_arreglos_solucion2/build/
/Ejercicio14_arreglos/nbproject/private/
/Ejercicio14_arreglos/build/
/Ejercicio15_arreglos/nbproject/private/
/Ejercicio15_arreglos/build/
/Ejercicio16_arreglos/nbproject/private/
/Ejercicio16_arreglos/build/
/Ejercicio17_arreglos/nbproject/private/
/Ejercicio17_arreglos/build/
/Ejercicio18_arreglos/nbproject/private/
/Ejercicio18_arreglos/build/
/Ejercicio19_arreglos/nbproject/private/
/Ejercicio19_arreglos/build/
/OrdenamientosMetodoBurbuja/nbproject/private/
/OrdenamientosMetodoBurbuja/build/
/OrdenamientosInsercion/nbproject/private/
/OrdenamientosInsercion/build/
/BusquedaSecuencial/nbproject/private/
/BusquedaSecuencial/build/
/Matriz/nbproject/private/
/Matriz/build/
/Ejercicio1_matrices/nbproject/private/
/Ejercicio1_matrices/build/
/Ejercicio2_matrices/nbproject/private/
/Ejercicio2_matrices/build/
/Ejercicio3_matrices/nbproject/private/
/Ejercicio3_matrices/build/
/Ejercicio4_matrices/nbproject/private/
/Ejercicio4_matrices/build/
/Ejercicio5_matrices/nbproject/private/
/Ejercicio5_matrices/build/
/Ejerccicio6_matrices/nbproject/private/
/Ejerccicio6_matrices/build/
/Ejercicio7_matrices/nbproject/private/
/Ejercicio7_matrices/build/
/POO/nbproject/private/
/POO/build/
/POOModificadoresDeAcceso/nbproject/private/
/EjerciciosPOO/nbproject/private/
/EjerciciosPOO/build/
/Funciones/nbproject/private/
/Funciones/build/
/TratamientoExcepciones/nbproject/private/
/PruebaExcepciones/nbproject/private/
/PruebaExcepciones/build/
/GestionGastos/nbproject/private/
